.inner-tree {
    padding-left: 30px;
    position: relative;
}
.inner-node {
    display: inline-block;
    vertical-align: top;
    margin: 5px;
}
.view-model {
    display: inline-block;
    border: solid 1px;
    margin: 2px;
    vertical-align: top;
}
.view-model-item {
   margin: 5px;
}
.node-name {
    vertical-align: top;
}