.viewModelItem{
    margin: 1px;
    /*vertical-align: baseline;*/
}
.hyphen{
    display: inline-block;
}
.itemName{
    display: inline-block;
    margin-left: 4px;
}
.itemDescription{
    display: inline-block;
    margin-left: 15px;
}
.actionButtons{
    display: inline-block;
    margin-left: 4px;
}
.actionButton{
    display: inline-block;
    margin: 0 5px;
}