.viewModelItem {
    display: block;
    margin: 5px;
}

.propertyName {
    font-weight: bold;
}
.propertyValue {
    font: 16px Arial sans-serif;
    width: auto;
}
.actionButtons{
    display: inline;
}
.actionButton {
    text-align: center;
    border: none;
    background: none;
    width: 55px;
    color: dodgerblue;
    cursor: pointer;
}
