.viewModelItem{
    margin: 1px;
}
.hyphen{
    display: inline-block;
    vertical-align: top;
}
.itemName{
    display: inline-block;
    vertical-align: top;
    width: 80px;
    margin-left: 4px;
}
.itemDescription{
    display: inline-block;
    margin-left: 15px;
}
.actionButtons{
    display: inline-block;
    margin-left: 4px;
}