.root{
    position: relative;
    margin: 5px 0;
}
.line1{
}
.expandButton{
    display: inline-block;
    vertical-align: baseline;
    line-height: 34px;
    width: 34px;
    text-align: center;
    cursor: pointer;
}

.nodeName{
    display: inline-block;
    vertical-align: baseline;
    line-height: 34px;
    padding: 0px 10px;
    cursor: pointer;
}
.editButton{
    display: inline-block;
    vertical-align: baseline;
    line-height: 34px;
    width: 34px;
    text-align: center;
    cursor: pointer;
}
.props{
    display: inline-block;
}
.children{
    margin-left: 20px;
}
.leftLine{
    position: absolute;
    display: inline-block;
    left: 16px;
    top: 34px;
    bottom: 0;
    width: 2px;
    background-color: #e0e0e0;
}
.expandButton:hover,
.nodeName:hover,
.editButton:hover{
    background-color: #E5E5E5;
}